/* se agrega la fuente de montserrat de la carpeta fonts*/

@font-face {
    font-family: 'Montserrat';
    src: url('@/assets/fonts/Montserrat.woff2')format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('@/assets/fonts/Montserrat-Bold.ttf')format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}



body{
    overflow-x: hidden !important;
    background: black;
}



.title-faqs{
    -webkit-box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.35); 
box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.466);
}




 /* Pantallas grandes */
 @media (min-width: 1500px) {
}
/* PC */
@media (min-width: 1200px) and (max-width: 1499px) {}
/* Pantallas para tablets */
@media only screen and (min-width: 801px) and (max-width: 1199px) {
}

/* Pantallas para tablets pequeñas*/
@media only screen and (min-width: 768px) and (max-width: 800px) {
}

/* Pantallas mobiles */
@media only screen and (min-width: 381px) and (max-width: 767px) {

}
/*Mobile con pantallas pequeñas*/
@media (max-width: 380px) { 
}